* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.highlight {
    text-decoration: underline;
}

body {
    background-color: #121212;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
}

#tripName {
    text-align: center;
    margin-bottom: 1em;
}

.mainContent {
    justify-content: space-evenly;
}

button {
    font-size: 1em;
}

.plus {
    font-size: 1em;
    border-radius: 50%;
    background-color: teal;
    color: white;
    border: none;
}

/* Nav CSS */
.nav {
    background-color:teal;
    justify-content: space-between;
    margin-bottom: 1em;
}

.nav a {
    text-decoration: none;
    color:white;
}

.nav-items {
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 1.15em;
    align-items: center;
}

.nav-items li {
    padding-left: 1em;
    padding-right: 1em;
}

.logo {
    padding-left: 1em;
}

li img {
    height: 2em;
    width: 2em;
}

#profile-pic {
    border-radius: 50%;
    object-fit: cover;
    height: 4em;
    width: 4em;
}

/* Banner CSS */
.countdown {
    height: 10em;
    background-image: url("assets/palm-trees.jpg");
    background-size: cover;
    background-position-y: 15em;
    color: white;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1em;
}

.countdown h1 {
    padding-top: 1.10em;
}

.countDownForm {
    padding-top: 2.5em;
    font-size: 1.5em;
}


/* Weather Widget CSS */

.weather img {
    height: 3em;
}

.weather {
    border: 1px solid black;
    overflow: auto;
    height: 20em;
    width:fit-content;
    background-color: #2D2D2D;
    padding: 1em;
}

.weatheritems {
    justify-content: space-around;
    border: 1px solid white;
}

/* Trip inspiration section */
.tripInspiration {
    display: block;
    margin-left: 1em;
    width:560px;
}

#tripinspo {
    align-items: center;
}

/* Notes section */
.information {
    border: 1px solid black;
    margin: 1em;
    background-color: #2D2D2D;
    padding: 1em;
}

.itinerary {
    flex: 2;
}

.notes {
    flex: 1;
}